
body {
    text-align: center;
    font-family: sans-serif;
    height: 100vh;
}

p {
    max-width: 500px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 28px;
}

p.t {
    padding: 0 20px;
    margin-bottom: 40px;
    text-align: left;
}

.fig-container {
    display: block;
    text-align: center;
}

.fig-container img {
    margin: auto;
    padding: 15px 20px 5px 20px;
}

i.right {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 20px;
}

hr {
    margin: 30px;
}

.title {
    font-variant-caps: all-small-caps;
    font-size: 28px;
    margin: -10px 0 30px 0;
}

ball {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: 1px solid lightgrey;
    margin: 10px 0 0 0;
    cursor: pointer;
}

ball:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

ball:active {
    opacity: 0.5;
    transition: 0.1s;
}

ball span {
    display: block;
    width: 50px;
    height: 50px;
    margin: -1px;
    border-radius: 25px;
}

ball i {
    display: inline-block;
    font-size: 30px;
    margin: 3px 10px;
}

div.card {
    width: 420px;
    padding: 30px;
    margin: auto;
}

.colors {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 50px;
}

.canvas-container {
    margin-top: 30px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

button.next {
    cursor: pointer;
    position: absolute;
    right: 50px;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 25px;
    margin: 10px;
    box-shadow: -2px 0 3px rgba(0, 0, 0, 0.5);
}

button.next:active {
    right: 52px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

canvas {
    background: #eee;
    /* background: url("img/bg.png"); */
    margin: 5px;
    border-radius: 50%;
}

small {
    display: block;
    margin-bottom: 10px;
}
